.container {
  min-height: 100vh;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #36213e;
  color: white;
  padding-right: 10rem;
  padding-left: 10rem;
  text-align: justify;
}
